@font-face {
  src: url(Fonts/ARCADECLASSIC.ttf);
  font-family: pixelFont;
}

body {
  margin: 0px;
  margin-bottom: 0px;
  font-family: pixelFont;


}

#wrapper {
  position: relative;
}
#skyCanvas1,
#weather,
#cityCanvas,
#cityCanvasBlack,
#cityCanvasMain,
#sunAndMoonCanvas,
#rainCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

.buttonClass:hover {
  color: red;
  cursor: pointer;
}
.buttonClass:active {
  color: blue;
}

#textOverlayLocation {
  font-size: large;
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 20px;
  width: 100px;
  height: 20px;
  color: black;
}

#textOverlayForcast {
  font-size: large;
  position: absolute;
  z-index: 1;
  left: 200px;
  top: 20px;
  width: 100px;
  height: 20px;
  color: black;
}

#textOverlayWeather {
  font-size: large;
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 500px;
  width: 300px;
  height: 20px;
  color: black;
  opacity: 80%;

}

/* select {
  box-shadow: 0 10px 25px black;
  font-size: 1rem;
  padding: 0.2em 0.3em;
  background:lightcyan;
  color: black;
  font-family: pixelFont;
} */